/* src/components/Home.css */
.home-container {
  padding: 20px;
  margin: 20px auto;
  max-width: 800px;
  background-color: #f0f0f0;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  text-align: center;
}

.home-container h2 {
  color: #333;
  margin-bottom: 10px;
}

.home-container p {
  color: #666;
  line-height: 1.5;
}

.home-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.logout-button {
  padding: 8px 15px;
  background-color: #dc3545; /* Vermelho para indicar "sair" */
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 0.9em;
  transition: background-color 0.3s ease;
}

.logout-button:hover {
  background-color: #c82333;
}