{% extends 'base.html' %}
{% load static %}

{% block title %}Cadastro de Clientes{% endblock %}

{% block content %}
<style>
  .container {
    height: 120vh;
  }
  body {
    background-color: #262B31;
    height: 100%;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .cadastro_cliente-container {
    background-color: #F1F5F4;
    padding: 30px;
    border-radius: 10px;
    box-shadow: 0 0 10px #000;
  }

  .form-control::placeholder {
    color: #aaa;
  }
</style>

<div class="container d-flex justify-content-center align-items-center">
  <div class="col-md-6 d-flex align-items-center">
    <div class="cadastro_cliente-container w-100">
      <h2 class="text-center mb-4">Cadastro de Clientes</h2>

      <!-- Área de erro -->
      <div class="error-box">
        {% if error %}
          <div class="alert alert-danger text-center font-weight-bold" role="alert">
            {{ error }}
          </div>
        {% else %}
          <div style="height: 48px;"></div>
        {% endif %}
      </div>

      <form method="POST">
        {% csrf_token %}

        <div class="mb-3">
          <label class="form-label">NOME/RAZÃO SOCIAL</label>
          <input value="{{ data.nome | default:'' }}" name="nome" type="text"
                 class="form-control rounded-pill"
                 placeholder="Digite o nome da Empresa ou do Cliente aqui" required>
        </div>

        <div class="form-row">
          <div class="form-group col-md-6">
            <label class="form-label">CPF/CNPJ</label>
            <input value="{{ data.documento | default:'' }}" name="documento" type="text"
                   class="form-control rounded-pill"
                   placeholder="Exemplo: 123.456.789-00"
                   oninput="formatDocument(this)" required>
          </div>

          <div class="form-group col-md-6">
            <label class="form-label">CEP</label>
            <input value="{{ data.cep | default:'' }}" name="cep" type="text"
                   class="form-control rounded-pill"
                   placeholder="CEP do Cliente"
                   oninput="formatCEP(this)" required>
          </div>
        </div>

        <div class="mb-3">
          <label class="form-label">EMAIL</label>
          <input value="{{ data.email | default:'' }}" name="email" type="text"
                 class="form-control rounded-pill"
                 placeholder="cliente@cliente.com" required>
        </div>

        <div class="mb-3">
          <label class="form-label">TELEFONE</label>
          <input value="{{ data.telefone | default:'' }}" name="telefone" type="text"
                 class="form-control rounded-pill"
                 placeholder="(19) 99999-9999"
                 oninput="formatPhone(this)" required>
        </div>

        <div class="mb-3">
          <label class="form-label">TELEFONE RESIDENCIAL</label>
          <input value="{{ data.telefone_residencial | default:'' }}" name="telefone_residencial" type="text"
                 class="form-control rounded-pill"
                 placeholder="(19) 12345-6789"
                 oninput="formatPhone(this)">
        </div>

        <div class="text-center mb-3">
          <button type="submit" class="btn rounded-pill text-white" style="background-color: #2C4158; width: 100%;">Cadastrar Cliente</button>
        </div>

        <div class="text-center mb-3">
          <a href="{% url 'listar_clientes' %}" class="btn rounded-pill text-white" style="background-color: #B6202A; width: 100%;">Cancelar Cadastro</a>
        </div>

      </form>
    </div>
  </div>
</div>
{% endblock %}

{% block scripts %}
<script src="{% static 'utils/InputMaskScript.js' %}"></script>
{% endblock %}
